@font-face {
  font-family: Imperial;
  src: url("/Imperial.woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  outline: none;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-text: #ffffff;
  --color-text-secondary: #350609;

  --color-bg: #350609;
  --color-bg-secondary: #f6ece3;
}

html {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app,
body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
  position: relative;
  /* background-color: var(--color-bg); */
}

#app::after {
  content: "";
  height: 100dvh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("./assets/bg.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}
#app,
body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

* {
  scroll-behavior: smooth;
}

#app::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
  width: 0;
  height: 0;
}

.mont {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  letter-spacing: -0.5px;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.vibe1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
}
.vibe {
  font-family: Imperial;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
}
.fz12 {
  font-size: 12px;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}

.fz24 {
  font-size: 24px;
}

.fz28 {
  font-size: 28px;
}

.fz32 {
  font-size: 32px;
}

.fz36 {
  font-size: 36px;
}

.fz38 {
  font-size: 38px;
}

.fz40 {
  font-size: 40px;
}

.fz42 {
  font-size: 42px;
}

.fz46 {
  font-size: 46px;
}
.fz70 {
  font-size: 70px;
}

.fz50 {
  font-size: 50px;
}

.f600 {
  font-weight: 600;
}

.f700 {
  font-weight: 700;

  * {
    font-weight: 700;
  }
}

.f500 {
  font-weight: 500;
}

.f400 {
  font-weight: 400;
}
